.modal {
  display: none;
}
.modal:target {
  position: fixed;
  background: rgba(2, 5, 31, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #e3eaff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.modal__message {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #e3eaff;
  color: #e3eaff;
  height: 720px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal__background, .modal__description {
  height: 50%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.modal__background, .modal__description p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.modal__background {
  background-image: url("../../dev/images/bicorgraph.jpg");
  background-size: 100%;
  filter: brightness(80%);
  background-position: initial;
}

.modal__description {
  padding: 1em;
  width: 660px;
}

.modal__buttons {
  text-decoration: none;
  color: #e3eaff;
  border: 0.5px solid #e3eaff;
  border-radius: 0.5em;
  width: 125px;
  height: 2em;
  padding: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #5c102a;
}
.modal__buttons:hover {
  background-color: #e6e9eb;
  color: #5c102a;
  transition-duration: 0.5s;
  border: 1px solid #5c102a;
}

.modal__back {
  text-decoration: none;
  color: #e3eaff;
  border: 0.5px solid #e3eaff;
  border-radius: 0.5em;
  width: 125px;
  height: 2em;
  padding: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #5c102a;
}
.modal__back:hover {
  background-color: #e6e9eb;
  color: #5c102a;
  transition-duration: 0.5s;
  border: 1px solid #5c102a;
}

.modal__skills {
  display: flex;
}

.buttons__skills {
  background-color: #5c102a;
  color: #e3eaff;
  border: 1px solid #e3eaff;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 19px;
  font-size: 0.75em;
  width: 100px;
  filter: brightness(100%);
}

.projects__layout {
  display: grid;
  grid-template: 650px 650px/1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
  grid-template-areas: "project-1 project-2" "project-3 project-4";
}

.project, .project__bm7 {
  width: 500px;
  height: 540px;
  max-width: 100%;
  margin: 1em;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-image: url("../../dev/images/bicorgraph.jpg");
  background-size: 500px;
  cursor: pointer;
}
.project:hover .project__view-overlay, .project__bm7:hover .project__view-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #e3eaff;
  animation: brillo 1.5s 1;
}
@keyframes brillo {
  from {
    filter: brightness(30%);
  }
  to {
    filter: brightness(100%);
  }
}
.project .project__view-layout, .project__bm7 .project__view-layout {
  margin: 0;
  padding: 0;
  height: 540px;
  width: 500px;
}
.project .project__view figure img, .project__bm7 .project__view figure img {
  vertical-align: top;
}
.project .project__view-overlay, .project__bm7 .project__view-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}