@import './lib/global.scss' ;
@import './lib/titles.scss';
@import './components/__header.scss';
@import './components/__hero.scss';
@import './components/__projects.scss';
@import './components/__footer';
@import './components/__skills';


.redes-sociales
{
display: inline-flex;
flex-direction: row;
width: 180px;
justify-content: space-between;
}


.redes-sociales a:first-child
{
width: 40px;
height: 40px;
margin-left: 10px;
background-image: url('../../dev/social-media/facebook.svg');
background-size: 40px 40px;
}

.redes-sociales a:nth-child(2)
{
width: 40px;
height: 40px;
margin-left: 10px;
background-image: url('../../dev/social-media/instagram.svg');
background-size: 40px 40px;
}

.redes-sociales a:nth-child(3)
{
width: 40px;
height: 40px;
margin-left: 10px;
background-image: url('../../dev/social-media/github.svg');
background-size: 40px 40px;
}

.information
{
display: flex;
flex-direction: column;
align-items: center;  
text-align: justify; 
}

.branding-item:nth-child(2) a {
cursor: pointer;
position: relative;
display: block;
}

.branding-item figure{
    margin: 0;
}

.post-overlay {
    background: rgba(0, 0, 0, .2);
    color: white;
    text-decoration: none;
    text-align: center;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    color: #990202;
    width: inherit;
}



   
@media screen and (max-width:1024px) {

}

@media screen and (max-width:767px) {
    header{
        flex-direction: column;
        height: auto;
        padding-bottom: 1em;
    }

    .navegador nav ul{
        flex-direction: column;
    }
    .navegador ul li{
        padding: .5em;
    }
    .principal-title, .principal-title-2{
        font-size: 2em;
    }
    .second-title{
        font-size: 1.5em;
    }
    #proyectos{
        flex-direction: column;
        align-items: center;
    }
    #project{
        width: 80vw;
    }
    .project-div-2{
        width: 60vw;
    }
    .inline-skills{
        padding: 1.5em;
    }
    footer{
        flex-direction: column;
    }
    .list-skills{
        -ms-grid-columns: 120px 1fr;
        grid-template-columns: 120px 1fr;
        -ms-grid-rows: (70px)[10];
        grid-template-rows: repeat(10,70px);
            grid-template-areas: "wordpress wordpress-curso"
                             "wordpress wordpress-fecha"
                             "diseño diseño-curso"
                             "diseño diseño-fecha"
                             "javascript javascript-curso"
                             "javascript javascript-fecha"
                             "postcss postcss-curso"
                             "postcss postcss-fecha"
                             "gridlayout gridlayout-curso"
                             "gridlayout gridlayout-fecha"
                             "responsive responsive-curso"
                             "responsive responsive-fecha"
                             "git git-curso"
                             "git git-fecha"
                             "desarrollo desarrollo-curso"
                             "desarrollo desarrollo-fecha"
                             "fund-ing fund-ing-curso"
                             "fund-ing fund-ing-fecha"
                             "programacion programacion-curso"
                             "programacion programacion-fecha";
    }
    .logo-wordpress{
-ms-grid-row: 1;
-ms-grid-row-span: 2;
-ms-grid-column: 1;
    }
    .wordpress-curso{
-ms-grid-row: 1;
-ms-grid-column: 2;
    }
    .wordpress-date{
-ms-grid-row: 2;
-ms-grid-column: 2;
    }
    .logo-diseño{
-ms-grid-row: 3;
-ms-grid-row-span: 2;
-ms-grid-column: 1;
    }
    .diseño-curso{
-ms-grid-row: 3;
-ms-grid-column: 2;
    }
    .diseño-date{
-ms-grid-row: 4;
-ms-grid-column: 2;
    }
    .logo-javascript{
-ms-grid-row: 5;
-ms-grid-row-span: 2;
-ms-grid-column: 1;
    }
    .javascript-curso{
-ms-grid-row: 5;
-ms-grid-column: 2;
    }
    .javascript-date{
-ms-grid-row: 6;
-ms-grid-column: 2;
    }
    .logo-postcss{
-ms-grid-row: 7;
-ms-grid-row-span: 2;
-ms-grid-column: 1;
    }
    .postcss-curso{
-ms-grid-row: 7;
-ms-grid-column: 2;
    }
    .postcss-date{
-ms-grid-row: 8;
-ms-grid-column: 2;
    }
    .logo-gridlayout{
-ms-grid-row: 9;
-ms-grid-row-span: 2;
-ms-grid-column: 1;
    }
    .gridlayout-curso{
-ms-grid-row: 9;
-ms-grid-column: 2;
    }
    .gridlayout-date{
-ms-grid-row: 10;
-ms-grid-column: 2;
    }
    .logo-responsive{
-ms-grid-row: 11;
-ms-grid-row-span: 2;
-ms-grid-column: 1;
    }
    .responsive-curso{
-ms-grid-row: 11;
-ms-grid-column: 2;
    }
    .responsive-date{
-ms-grid-row: 12;
-ms-grid-column: 2;
    }
    .logo-git{
-ms-grid-row: 13;
-ms-grid-row-span: 2;
-ms-grid-column: 1;
    }
    .git-curso{
-ms-grid-row: 13;
-ms-grid-column: 2;
    }
    .git-date{
-ms-grid-row: 14;
-ms-grid-column: 2;
    }
    .logo-desarrollo{
-ms-grid-row: 15;
-ms-grid-row-span: 2;
-ms-grid-column: 1;
    }
    .desarrollo-curso{
-ms-grid-row: 15;
-ms-grid-column: 2;
    }
    .desarrollo-date{
-ms-grid-row: 16;
-ms-grid-column: 2;
    }
    .logo-fund-ing{
-ms-grid-row: 17;
-ms-grid-row-span: 2;
-ms-grid-column: 1;
    }
    .fund-ing-curso{
-ms-grid-row: 17;
-ms-grid-column: 2;
    }
    .fund-ing-date{
-ms-grid-row: 18;
-ms-grid-column: 2;
    }
    .logo-programacion{
-ms-grid-row: 19;
-ms-grid-row-span: 2;
-ms-grid-column: 1;
    }
    .programacion-curso{
-ms-grid-row: 19;
-ms-grid-column: 2;
    }
    .programacion-date{
-ms-grid-row: 20;
-ms-grid-column: 2;
    }
}

 
