h1,
h2,
h3,
h4,
h5,
h6
{
font-family: 'Oswald', sans-serif;  
}

*
{
font-family: 'Roboto Condensed', sans-serif; 
}

ol,
ul
{
list-style: none;
}

body
{
background-color:#e6e9eb;    
}

header
{
background-color: #02051f; 
color:#e3eaff;
display: flex;
flex-direction: row;
justify-content: space-between;
text-align: center;
align-items: center;
height: 150px;
}

.navegador
{
display: flex;
width: auto;
margin: 0px 40px;
height: inherit;
}

.navegador nav
{
justify-content: space-evenly; 
height: inherit;
}

.cabecera div:first-child
{
margin: 10px 80px 10px 80px;    
}

.cabecera div:first-child h1,h2
{
margin: 0px 0px 0px 0px;    
}

.principal-title
{
margin: 10px 0px 10px 0px;
color: #e3eaff;
text-align: center;    
}

.principal-title-2
{
margin: 10px 0px 10px 0px;
font-size: 40px;
color: #51015c;
text-align: center; 
}

.cabecera div:first-child h2
{
color: #990202;
font-size: 30px;    
}

.title-diploma
{
color: #e3eaff;
font-size: 40px;           
} 

.skills-principal
{
display: flex;
flex-direction: row;
align-items: center; 
justify-content: space-evenly; 
margin-bottom: 20px;
margin-top: 20px;
flex-wrap: wrap;  
}

.title-link
{
color: #e3eaff;
border: 1px solid #e3eaff;
padding: 10px 10px 10px 10px; 
border-radius: 5px;  
margin-bottom: 10px;
text-decoration: none;
}

.skills-1
{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
text-align: justify;  
background-image: url('images/web-photo.png');
background-repeat: no-repeat;
background-size: 700px 359px;
color: white;
width: 700px;
height: 359px;
border-radius: 10px;
}

.skills-1-programacion
{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
text-align: justify;  
background-image: url('images/programar.png');
background-repeat: no-repeat;
background-size: 700px 359px;
color: white;
width: 700px;
height: 359px;
border-radius: 10px;
}

.skills-1-ingenieria
{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
text-align: justify;  
background-image: url('images/ingenieria.png');
background-repeat: no-repeat;
background-size: 700px 359px;
color: white;
width: 700px;
height: 359px;
border-radius: 10px;
}

.skills-1-branding
{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
text-align: justify;  
background-image: url('images/branding.png');
background-repeat: no-repeat;
background-size: 700px 359px;
color: white;
width: 700px;
height: 359px;
border-radius: 10px;
}

.skills-1-youtube
{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
text-align: justify;  
background-image: url('images/youtube.png');
background-repeat: no-repeat;
background-size: 700px 359px;
color: white;
width: 700px;
height: 359px;
border-radius: 10px;
}

.skills-2
{
text-align: justify;  
width: 700px;
margin: 10px 10px 10px 10px;
justify-content: center; 
align-items: center; 
}

.diploma
{
display: flex;
align-items: center;
justify-content: center;    
}

.navegador nav ul
{
display: flex;
flex-direction: row;
justify-content: space-between;  
align-items: center;
margin: 0px;
padding: 0px;
height: inherit;
}


.navegador ul li
{
list-style: none;
padding: 0px 10px 0px 10px; 
height: 100%;   
}

.navegador ul li a
{
display: inline-flex;
text-decoration: none;
color: #e3eaff;       
align-items: center;
height: inherit;
justify-content: center;
/* border: 1px solid red; */
width: 111px;
}

#hero
{
display: flex;
flex-direction: row;  
background-color: #1c1b1b;
color: #e3eaff;
justify-content: space-between; 
height: 350px; 
align-items: center;
flex-wrap: nowrap;
}

.hero-2
{
display: flex;
flex-direction: column;
justify-content: center;        
text-align: center;
width: 50%;
height: inherit;
background-image: url('images/cabecera-2.png');
background-size: 100% 100%;
}

.hero-2 p
{
text-align: center;
margin: 1em 2em 1em 2em;
}

.hero-1
{
display: flex;
align-items: center;
width: 50%;
height: inherit;
background-image: url('images/cabecera-1.png'); 
background-size: 100% 350px;
}

.hero-1 figure img{
border-radius: 50%;    
}


#proyectos
{
display: flex;
align-items: center;    
flex-direction: column;
}

.project-principal
{
display: flex;
align-items: center;  
justify-content: space-evenly;  
height: auto;
background-color: #1c1b1b;
border-radius: 10px;
flex-direction: row;
color: #e3eaff;
margin-bottom: 20px;
flex-wrap: wrap;
}

.project-principal-firts
{
display: flex;
align-items: center;  
justify-content: space-evenly;  
width: 1200px;
height: 400px;
background-color: #1c1b1b;
border-radius: 10px;
flex-direction: row;
color: #e3eaff;
margin-bottom: 20px;    
}

.project-principal-1
{
display: block;
text-align: center;
height: auto;
}


.project.principal-2 ul li
{
list-style: none;
display: flex;
flex-direction: row;
}

.project-principal-2
{
width: 50%;    
height: inherit;
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center; 
padding: 20px 20px 20px 20px;  
}

.project-principal-2 h1
{
color: #990202;
font-size: 30px;    
}

.principal-container
{
display: flex;
flex-direction: row;
width: 100px;
justify-content: space-between;
align-items: center;    
margin-bottom: 10px;
margin-top: 10px;
}

.principal.container p
{
text-align: justify;    
}

footer
{
background-color: #02051f; 
color: #e3eaff;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
flex-direction: row;
height: 340px;
width: 100%;
align-items: center;
line-height: 1em;
letter-spacing: 0.1px; 
height: auto;   
}

footer div
{
height: auto;  
display: flex;
flex-direction: row;
justify-content: space-evenly; 
align-items: center;
text-align: center;
}

footer div:first-child 
{
display: block;
}

footer div button
{
margin:0px;        
}

footer div input
{
width: 210px;
}

footer div:nth-child(2)
{
display: block;
text-align: center; 
}

footer div a
{
text-decoration: none;
color: #EDEDED;    
}

.redes-sociales
{
display: inline-flex;
flex-direction: row;
}

.redes-sociales a:first-child
{
width: 50px;
height: 50px;
margin-left: 10px;
background-image: url('social-media/facebook.svg');
background-size: 50px 50px;
}

.redes-sociales a:nth-child(2)
{
width: 50px;
height: 50px;
margin-left: 10px;
background-image: url('social-media/instagram.svg');
background-size: 50px 50px;
}

.redes-sociales a:nth-child(3)
{
width: 50px;
height: 50px;
margin-left: 10px;
background-image: url('social-media/github.svg');
background-size: 50px 50px;
}

.information
{
display: flex;
flex-direction: column;
align-items: center;  
text-align: justify; 
}

.platzi
{
width: 50px;
height: 50px;
background-image: url('social-media/platzi.png');
background-size: 50px 50px;    
}

.container{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 height: 350px;
 width: 100%;   
}

.retrato{
display: flex;
justify-content: center;   
}


.retrato-1{
background-image: url('images/retrato-1.png');    
background-size: 100% 100%;
background-repeat: no-repeat;
display: flex; 
flex-direction: column;
justify-content: flex-end;
align-items: center;
color: white;
}

.retrato-1 h1{
margin: 0px;   
}

.retrato-2{
background-image: url('images/retrato-2.png');    
background-size: 100% 100%;
background-repeat: no-repeat;
display: flex; 
flex-direction: column;
justify-content: flex-end;
align-items: center;
color: white;
}
    
.retrato-2 h1{
 margin: 0px;   
}

.retrato-1 a{
padding: 16px 16px 16px 16px;
margin: 10px;
border: 1px solid white;
border-radius: 5px;    
}

.retrato-2 a{
padding: 16px 16px 16px 16px;
margin: 10px;
border: 1px solid white;
border-radius: 5px;    
}

.retrato-3{
background-image: url('images/retrato-3.png');    
background-size: 100% 100%;
background-repeat: no-repeat;
display: flex; 
flex-direction: column;
justify-content: flex-end;
align-items: center;
color: white;
}
        
.retrato-3 h1{
margin: 0px;   
}

.retrato-3 a{
padding: 16px 16px 16px 16px;
margin: 10px;
border: 1px solid white;
border-radius: 5px;    
}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:767px) {

    #hero{
    display: block;    
    height: auto;
    text-align: center;
    padding-bottom: 10px;
    }
    .cabecera{
     padding-bottom: 10px;   
    }    
    .hero-1
    {
    width: auto;    
    }

    .hero-2
    {
    width: auto;    
    }

    .cabecera{
    display: block;
    text-align: center; 
    height: auto;
    } 

    .navegador{
     display: block;
     text-align: center;
    }   

    .navegador nav ul{
        display: block;    
        }

    .navegador nav ul li a{
    width: 100%;  
    margin: 0.5em 0em 0.5em 0em;
    }

    #hero{
    display: block;
    height: auto;
    padding-bottom: 1em;    
    }

    #hero div{
    max-width: 100%;
    width: 100%;    
    }

    #hero div:nth-child(2){
    width: auto;
    }

    .container{
    display: block;
    height: auto;    
    }

    .retrato-1,.retrato-2,.retrato-3{
    height: 350px;    
    }

    footer {
    display: block;    
    font-size: 12px;
    height: auto;
    padding: 30px 0px;    
    }
}

@media screen and (max-width:480px) {
 .hero-1{
     background-size: auto;
 }   
 .hero-2{
    background-size: auto;
 }
 .retrato-1{
    background-size: auto;
 }
 .retrato-2{
    background-size: auto; 
 }
 .retrato-3{
    background-size: auto;
 }
}

@media screen and (max-width:320px) {
    .cabecera{
    font-size: 12px;    
    }
    .cabecera div:first-child{
    margin: 0px 0px 0px 0px;
    }   

    .cabecera-1 .principal-title{
     font-size: 1.8em;   
    }

    .cabecera div:first-child h2{
    font-size: 1.5em;   
    }

    .navegador nav ul li a{
        font-size: 1em;    
    }

    .hero-2 .principal-title{
        font-size: 1.8em;   
       }

    .hero-2 .p{
        font-size: 1em;   
       }
    #proyectos{
     width: 98%; 
    }   
  
    .project-principal{
    display: block;
    text-align: center;    
    }

    .principal-title-2{
    font-size: 30px;    
    }
    .project-principal-1 {
    width: 100%;    
    }

    .project-principal-1 figure{
    margin: 10px auto;    
    }

    .project-principal-2 {
    display: block;
    width: auto;
    text-align: center;  
    }

    .principal-container{
     display: inline-flex;   
    }

    .retrato-1 h1, .retrato-2 h1,
    .retrato-3 h1{
     text-align: center;   
    }
}
