h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

ol,
ul {
  list-style: none;
}

span {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e6e9eb;
  width: auto;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
  }
}
@media only screen and (max-width: 360px) {
  body {
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

.title_white, .title_white_skills, .title_white_h4, .title_white_skills_h4, .title_white_h3, .title_white_skills_h3, .title_white_h2, .title_white_skills_h2 {
  margin: 0;
  color: #e3eaff;
  text-align: center;
  font-size: 2.5em;
}
@media only screen and (max-width: 768px) {
  .title_white, .title_white_skills, .title_white_h4, .title_white_skills_h4, .title_white_h3, .title_white_skills_h3, .title_white_h2, .title_white_skills_h2 {
    font-size: 2em;
  }
}

.title_white_h2, .title_white_skills_h2 {
  font-size: 2em;
}

.title_white_h3, .title_white_skills_h3 {
  font-size: 1.5em;
}
@media only screen and (max-width: 360px) {
  .title_white_h3, .title_white_skills_h3 {
    font-size: 1em;
  }
}

.title_white_h4, .title_white_skills_h4 {
  font-size: 1em;
}

.title_red, .title_red_skills, .title_red_h4, .title_red_skills_h4, .title_red_h3, .title_red_skills_h3, .title_red_h2, .title_red_skills_h2 {
  margin: 0;
  color: #990202;
  text-align: center;
  font-size: 2.5em;
}
@media only screen and (max-width: 768px) {
  .title_red, .title_red_skills, .title_red_h4, .title_red_skills_h4, .title_red_h3, .title_red_skills_h3, .title_red_h2, .title_red_skills_h2 {
    font-size: 2em;
  }
}

.title_red_h2, .title_red_skills_h2 {
  font-size: 2em;
}

.title_red_h3, .title_red_skills_h3 {
  font-size: 1.5em;
}

.title_red_h4, .title_red_skills_h4 {
  font-size: 1em;
}

.social-media-title h2 {
  font-size: 1.5em;
  margin: 0.5em;
}

.header-second-title {
  color: #990202;
  font-size: 1em;
  text-align: center;
}

.list-skills h1 {
  color: #e3eaff;
  font-size: 1.5em;
  text-align: left;
  margin: 0px;
  padding: 0.5em;
}

.list-skills h2 {
  color: #990202;
  font-size: 1em;
  text-align: left;
  text-indent: 1.5em;
  margin: 0px;
  padding-bottom: 0.5em;
}

.title_white_skills {
  text-align: left;
}

.title_white_skills_h2 {
  text-align: left;
}

.title_white_skills_h3 {
  text-align: left;
}

.title_white_skills_h4 {
  text-align: left;
}

.title_red_skills {
  text-align: left;
}

.title_red_skills_h2 {
  text-align: left;
}

.title_red_skills_h3 {
  text-align: left;
}

.title_red_skills_h4 {
  text-align: left;
}

.header {
  background-color: #02051f;
  color: #e3eaff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100px;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 60px 1fr;
    width: 100%;
    height: 80px;
    align-content: center;
    z-index: 1;
    top: 0;
  }
}

.header__burguer_menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header__burguer_menu {
    display: block;
    margin: 1em;
  }
}

#header__nav-menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  #header__nav-menu {
    display: block;
    position: fixed;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    background-color: #02051f;
    color: #e3eaff;
    justify-content: right;
    left: 0;
    transition: all 500ms linear;
    text-indent: 2.5em;
  }
}

#header__nav-menu ul {
  display: grid;
  grid-template-rows: repeat(4, 30px);
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  #header__nav-menu.active {
    left: -100vw;
  }
}

@media only screen and (max-width: 768px) {
  #header__nav-menu.null {
    left: 100vw;
  }
}

#header__nav-menu ul {
  margin: 0;
  padding-left: 0;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

#header__nav-menu ul li {
  padding-bottom: 1em;
  width: 100%;
}

#header__nav-menu ul a {
  text-decoration: none;
  color: #e3eaff;
  width: 100%;
}
#header__nav-menu ul a:hover {
  color: #990202;
  transition-duration: 0.5s;
}
@media only screen and (max-width: 768px) {
  #header__nav-menu ul a {
    height: 3em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

#header a {
  text-decoration: none;
}

.cabecera-1 {
  margin: 0em 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  text-decoration: none;
}

.header__logo {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  height: 80px;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .header__logo {
    height: 80px;
  }
}

.header__logo-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
@media only screen and (max-width: 768px) {
  .header__logo-titles {
    padding: 0.25em;
  }
}

.header__logo-figure {
  padding: 1em;
  margin: 0px;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .header__logo-figure {
    padding: 0px;
  }
}

.header__logo-figure img {
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 768px) {
  .header__logo-figure img {
    height: 50px;
    width: 50px;
  }
}

.header__navigator {
  display: flex;
  width: auto;
  margin: 0px 40px;
  height: inherit;
}
@media only screen and (max-width: 768px) {
  .header__navigator {
    display: none;
  }
}

.header__navigator nav {
  justify-content: space-evenly;
  height: inherit;
}

.header__navigator nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: inherit;
}

.header__navigator ul li {
  list-style: none;
  padding: 0px 10px 0px 10px;
  height: 100%;
}

.header__navigator ul li a {
  display: inline-flex;
  text-decoration: none;
  color: #e3eaff;
  align-items: center;
  height: inherit;
  justify-content: center;
  /* border: 1px solid red; */
  width: 111px;
}

.header__navigator ul li a:hover {
  color: #990202;
  transition-duration: 0.5s;
}

.title_white, .title_white_h2, .title_white_h3, .title_white_h4, .title_white_skills, .title_white_skills_h2, .title_white_skills_h3, .title_white_skills_h4 {
  margin: 0;
  color: #e3eaff;
  text-align: center;
  font-size: 2.5em;
}
@media only screen and (max-width: 768px) {
  .title_white, .title_white_h2, .title_white_h3, .title_white_h4, .title_white_skills, .title_white_skills_h2, .title_white_skills_h3, .title_white_skills_h4 {
    font-size: 2em;
  }
}

.title_white_h2, .title_white_skills_h2 {
  font-size: 2em;
}

.title_white_h3, .title_white_skills_h3 {
  font-size: 1.5em;
}
@media only screen and (max-width: 360px) {
  .title_white_h3, .title_white_skills_h3 {
    font-size: 1em;
  }
}

.title_white_h4, .title_white_skills_h4 {
  font-size: 1em;
}

.title_red, .title_red_h2, .title_red_h3, .title_red_h4, .title_red_skills, .title_red_skills_h2, .title_red_skills_h3, .title_red_skills_h4 {
  margin: 0;
  color: #990202;
  text-align: center;
  font-size: 2.5em;
}
@media only screen and (max-width: 768px) {
  .title_red, .title_red_h2, .title_red_h3, .title_red_h4, .title_red_skills, .title_red_skills_h2, .title_red_skills_h3, .title_red_skills_h4 {
    font-size: 2em;
  }
}

.title_red_h2, .title_red_skills_h2 {
  font-size: 2em;
}

.title_red_h3, .title_red_skills_h3 {
  font-size: 1.5em;
}

.title_red_h4, .title_red_skills_h4 {
  font-size: 1em;
}

.social-media-title h2 {
  font-size: 1.5em;
  margin: 0.5em;
}

.header-second-title {
  color: #990202;
  font-size: 1em;
  text-align: center;
}

.list-skills h1 {
  color: #e3eaff;
  font-size: 1.5em;
  text-align: left;
  margin: 0px;
  padding: 0.5em;
}

.list-skills h2 {
  color: #990202;
  font-size: 1em;
  text-align: left;
  text-indent: 1.5em;
  margin: 0px;
  padding-bottom: 0.5em;
}

.title_white_skills {
  text-align: left;
}

.title_white_skills_h2 {
  text-align: left;
}

.title_white_skills_h3 {
  text-align: left;
}

.title_white_skills_h4 {
  text-align: left;
}

.title_red_skills {
  text-align: left;
}

.title_red_skills_h2 {
  text-align: left;
}

.title_red_skills_h3 {
  text-align: left;
}

.title_red_skills_h4 {
  text-align: left;
}

.hero {
  background-color: #191b36;
  color: #e3eaff;
  justify-content: space-between;
  height: auto;
  margin: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.hero__portrait {
  width: 100vw;
  background-color: #151834;
}
@media only screen and (max-width: 768px) {
  .hero__portrait {
    display: none;
  }
}

.hero__portrait-information {
  width: 100%;
  height: 400px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .hero__portrait-information {
    height: auto;
    flex-direction: column;
    padding: 0;
  }
}

.hero__portrait-title {
  justify-content: center;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-image: url("../../dev/images/bubble-red.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 65%;
}
@media only screen and (max-width: 768px) {
  .hero__portrait-title {
    width: 100vw;
    padding: 0;
    height: 20em;
  }
}

.hero-p {
  display: flex;
  width: 40vw;
  text-align: justify;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}
@media only screen and (max-width: 1200px) {
  .hero-p {
    width: 95vw;
    padding: 2.5vw;
  }
}

.hero-p p {
  text-align: justify;
  margin: 1em;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  line-height: 1.25em;
  letter-spacing: 0.2px;
  animation: textIlumination;
  animation-duration: 3s;
}
@media only screen and (max-width: 768px) {
  .hero-p p {
    font-size: 1em;
  }
}

@keyframes textIlumination {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero-p__buttons {
  width: 40vw;
  display: inline-flex;
  justify-content: space-around;
  padding: 1em;
}
@media only screen and (max-width: 768px) {
  .hero-p__buttons {
    width: 100vw;
    justify-content: space-evenly;
  }
}

.social-media-title {
  margin-bottom: 0.5em;
}

.hero-p__buttons a {
  text-decoration: none;
  color: #e3eaff;
  border: 1px solid #e3eaff;
  border-radius: 25px;
  width: 125px;
  padding: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #5c102a;
}
.hero-p__buttons a:hover {
  background-color: #e6e9eb;
  color: #5c102a;
  transition-duration: 0.5s;
  border: 1px solid #5c102a;
}

.modal {
  display: none;
}
.modal:target {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #e3eaff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.modal__message {
  background: rgba(2, 5, 31, 0.8);
  border: 1px solid #e3eaff;
  color: #e3eaff;
  height: 70%;
  width: 660px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.modal__message .modal__background, .modal__message .modal__background-BM7, .modal__message .modal__description {
  height: 50%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.modal__message .modal__background, .modal__message .modal__background-BM7, .modal__message .modal__description p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}
.modal__message .modal__background, .modal__message .modal__background-BM7 {
  background-image: url("../../dev/images/bicorgraph.jpg");
  background-size: 100%;
  filter: brightness(80%);
  background-position: initial;
}
.modal__message .modal__background-BM7 {
  background-image: url("../../dev/images/Desktop-bm7.png");
}
.modal__message .modal__options {
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
}
.modal__message .modal__description {
  padding: 1.25em;
  width: 660px;
}
.modal__message .modal__description p {
  margin: 0.25em;
}
.modal__message .modal__buttons {
  text-decoration: none;
  color: #e3eaff;
  border: 1px solid #e3eaff;
  border-radius: 25px;
  width: 125px;
  padding: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #5c102a;
}
.modal__message .modal__buttons:hover {
  background-color: #e6e9eb;
  color: #5c102a;
  transition-duration: 0.5s;
  border: 1px solid #5c102a;
}
.modal__message .modal__skills {
  display: flex;
}
.modal__message .buttons__skills {
  background-color: #5c102a;
  color: #e3eaff;
  border: 1px solid #e3eaff;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 19px;
  font-size: 0.75em;
  width: 100px;
  filter: brightness(100%);
}

.modal__functions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 360px) {
  .projects {
    width: 100vw;
  }
}

.projects__layout {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  justify-items: center;
  width: 100vw;
  grid-template-areas: "project-1 project-2";
}
@media only screen and (max-width: 768px) {
  .projects__layout {
    grid-template: 1fr 1fr/1fr;
  }
}
@media only screen and (max-width: 360px) {
  .projects__layout {
    width: 100%;
    grid-gap: 1em;
    height: auto;
  }
}

.project, .project__bm7 {
  width: 500px;
  height: 540px;
  max-width: 100%;
  margin: 1em;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-image: url("../../dev/images/bicorgraph.jpg");
  background-size: 500px;
  cursor: pointer;
}
.project:hover .project__view-overlay, .project__bm7:hover .project__view-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #e3eaff;
  animation: brillo 1.5s 1;
}
@keyframes brillo {
  from {
    filter: brightness(30%);
  }
  to {
    filter: brightness(100%);
  }
}
.project .project__view-layout, .project__bm7 .project__view-layout {
  margin: 0;
  padding: 0;
  height: 540px;
  width: 500px;
}
@media only screen and (max-width: 360px) {
  .project .project__view-layout, .project__bm7 .project__view-layout {
    width: 90vw;
  }
}
.project .project__view figure img, .project__bm7 .project__view figure img {
  vertical-align: top;
}
.project .project__view-overlay, .project__bm7 .project__view-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}
@media only screen and (max-width: 360px) {
  .project, .project__bm7 {
    width: 90%;
    height: auto;
    margin: 0px;
    height: 420px;
  }
}

.project__bm7 {
  background-image: url("../../dev/images/Desktop-bm7.png");
}

footer {
  background-color: #02051f;
  color: #e3eaff;
  height: 300px;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  footer {
    height: 240px;
  }
}
@media only screen and (max-width: 360px) {
  footer {
    height: auto;
  }
}

.footer__grid {
  display: grid;
  width: 80%;
  flex-direction: column;
  height: 300px;
  grid-template-columns: [column__initial] 1fr [line__column-1] 1fr [line__column-2] 1fr [line__column-3];
  grid-template-rows: [row__initial] 1fr [line__row-1] 1fr [line__row-2] 1fr [line__Row-3];
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .footer__grid {
    height: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .footer__grid {
    grid-template-columns: [column__initial] 1fr [line__column-1];
    grid-template-rows: [row__initial] 1fr [line__row-1] 1fr [line__row-2] 1fr [line__row-3] 1fr [line__row-4];
  }
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.2px;
  margin: 0px;
}
@media only screen and (max-width: 768px) {
  footer p {
    font-size: 1em;
  }
}

.footer__grid div figure {
  margin: 1em;
}

.footer__data, .footer__data-location, .footer__data-cellphone, .footer__data-email {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
}

.contact-title {
  grid-column: line__column-1/line__column-2;
  grid-row: row__initial/line__row-1;
}
@media only screen and (max-width: 360px) {
  .contact-title {
    grid-column: column__initial/line__column-1;
    grid-row: row__initial/line__row-1;
    text-align: center;
  }
}

.contact-title h1 {
  margin: 0;
}

.footer__data-email {
  grid-column: column__initial/line__column-1;
  grid-row: line__row-1/line__row-2;
}
@media only screen and (max-width: 360px) {
  .footer__data-email {
    grid-column: column__initial/line__column-1;
    grid-row: line__row-1/line__row-2;
  }
}

.footer__data-cellphone {
  grid-column: line__column-1/line__column-2;
  grid-row: line__row-1/line__row-2;
}
@media only screen and (max-width: 360px) {
  .footer__data-cellphone {
    grid-column: column__initial/line__column-1;
    grid-row: line__row-3/line__row-4;
  }
}

.footer__data-location {
  grid-column: line__column-2/line__column-3;
  grid-row: line__row-1/line__row-2;
}
@media only screen and (max-width: 360px) {
  .footer__data-location {
    grid-column: column__initial/line__column-1;
    grid-row: line__row-2/line__row-3;
  }
}

.footer__credits-socialMedia {
  grid-column: line__column-1/line__column-2;
  grid-row: line__row-2/line__row-3;
  display: inline-flex;
  justify-content: space-evenly;
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .footer__credits-socialMedia {
    width: 100%;
  }
}

.footer__credits-socialMedia img {
  border-radius: 50%;
}

.footer__credits {
  grid-column: line__column-2/line__column-3;
  grid-row: line__row-2/line__row-3;
  font-size: 0.75em;
  align-self: center;
  justify-self: center;
  padding: 1em;
}
@media only screen and (max-width: 768px) {
  .footer__credits {
    justify-self: end;
    align-self: end;
  }
}

.header {
  background-color: #02051f;
  color: #e3eaff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100px;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 60px 1fr;
    width: 100%;
    height: 80px;
    align-content: center;
    z-index: 1;
    top: 0;
  }
}

.header__burguer_menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header__burguer_menu {
    display: block;
    margin: 1em;
  }
}

#header__nav-menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  #header__nav-menu {
    display: block;
    position: fixed;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    background-color: #02051f;
    color: #e3eaff;
    justify-content: right;
    left: 0;
    transition: all 500ms linear;
    text-indent: 2.5em;
  }
}

#header__nav-menu ul {
  display: grid;
  grid-template-rows: repeat(4, 30px);
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  #header__nav-menu.active {
    left: -100vw;
  }
}

@media only screen and (max-width: 768px) {
  #header__nav-menu.null {
    left: 100vw;
  }
}

#header__nav-menu ul {
  margin: 0;
  padding-left: 0;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

#header__nav-menu ul li {
  padding-bottom: 1em;
  width: 100%;
}

#header__nav-menu ul a {
  text-decoration: none;
  color: #e3eaff;
  width: 100%;
}
#header__nav-menu ul a:hover {
  color: #990202;
  transition-duration: 0.5s;
}
@media only screen and (max-width: 768px) {
  #header__nav-menu ul a {
    height: 3em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

#header a {
  text-decoration: none;
}

.cabecera-1 {
  margin: 0em 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  text-decoration: none;
}

.header__logo {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  height: 80px;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .header__logo {
    height: 80px;
  }
}

.header__logo-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
@media only screen and (max-width: 768px) {
  .header__logo-titles {
    padding: 0.25em;
  }
}

.header__logo-figure {
  padding: 1em;
  margin: 0px;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .header__logo-figure {
    padding: 0px;
  }
}

.header__logo-figure img {
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 768px) {
  .header__logo-figure img {
    height: 50px;
    width: 50px;
  }
}

.header__navigator {
  display: flex;
  width: auto;
  margin: 0px 40px;
  height: inherit;
}
@media only screen and (max-width: 768px) {
  .header__navigator {
    display: none;
  }
}

.header__navigator nav {
  justify-content: space-evenly;
  height: inherit;
}

.header__navigator nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: inherit;
}

.header__navigator ul li {
  list-style: none;
  padding: 0px 10px 0px 10px;
  height: 100%;
}

.header__navigator ul li a {
  display: inline-flex;
  text-decoration: none;
  color: #e3eaff;
  align-items: center;
  height: inherit;
  justify-content: center;
  /* border: 1px solid red; */
  width: 111px;
}

.header__navigator ul li a:hover {
  color: #990202;
  transition-duration: 0.5s;
}

.skills-section {
  background-color: #151834;
  color: #e3eaff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0px;
  width: 100vw;
}

.skills__list-course {
  width: 75vw;
  display: grid;
  padding: 1em;
  padding: 0.5em;
  grid-gap: 0.5em;
  justify-items: left;
  grid-template: repeat(6, 44px) 20px/74px 1fr 74px 1fr;
  grid-template-areas: "programm__image programm__course uxui__image uxui__course" "programm__image programm__date uxui__image uxui__date" "js__image js__course adobe__image adobe__course" "js__image js__date adobe__image adobe__date" "sass__image sass__course designs__image designs__course" "sass__image sass__date  designs__image designs__date" ". perfil . .";
}
@media only screen and (max-width: 768px) {
  .skills__list-course {
    width: 70vw;
    grid-template: repeat(6, 44px) 20px/74px 1fr;
    grid-template-areas: "programm__image programm__course" "programm__image programm__date" "uxui__image uxui__course" "uxui__image uxui__date" "js__image js__course" "js__image js__date" "adobe__image adobe__course" "adobe__image adobe__date" "sass__image sass__course" "sass__image sass__date" "designs__image designs__course" "designs__image designs__date" ". perfil";
  }
}
@media only screen and (max-width: 360px) {
  .skills__list-course {
    width: 90vw;
    justify-items: center;
    grid-template: repeat(6, 44px) 20px/74px 1fr;
    grid-template-areas: "programm__image programm__course" "programm__image programm__date" "uxui__image uxui__course" "uxui__image uxui__date" "js__image js__course" "js__image js__date" "adobe__image adobe__course" "adobe__image adobe__date" "sass__image sass__course" "sass__image sass__date" "designs__image designs__course" "designs__image designs__date" "perfil perfil";
  }
}

.programm__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: programm__image;
  margin: 0;
}

.programm__course {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: programm__course;
}

.programm__date {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: programm__date;
}

.uxui__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: uxui__image;
  margin: 0;
}

.uxui__course {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: uxui__course;
}

.uxui__date {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: uxui__date;
}

.js__image {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: js__image;
  margin: 0;
}

.js__course {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: js__course;
}

.js__date {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: js__date;
}

.adobe__course {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  grid-area: adobe__course;
}

.adobe__date {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
  grid-area: adobe__date;
}

.adobe__image {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: adobe__image;
  margin: 0;
}

.sass__image {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: sass__image;
  margin: 0;
}

.sass__course {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  grid-area: sass__course;
}

.sass__date {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
  grid-area: sass__date;
}

.designs__image {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: designs__image;
  margin: 0;
}

.designs__course {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
  grid-area: designs__course;
}

.designs__date {
  -ms-grid-row: 11;
  -ms-grid-column: 7;
  grid-area: designs__date;
}

@media only screen and (max-width: 360px) {
  .skills__perfil {
    grid-area: skills__perfil;
    width: 100vw;
  }
}

.skills__list-course a {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
  color: #e3eaff;
  text-decoration: none;
  grid-area: perfil;
  text-indent: 1em;
}

@media only screen and (max-width: 768px) {
  .programm__image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .programm__course {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .programm__date {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .uxui__image {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .uxui__course {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .uxui__date {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .js__image {
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .js__course {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .js__date {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
  .adobe__course {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
  }
  .adobe__date {
    -ms-grid-row: 15;
    -ms-grid-column: 3;
  }
  .adobe__image {
    -ms-grid-row: 13;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .sass__image {
    -ms-grid-row: 17;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .sass__course {
    -ms-grid-row: 17;
    -ms-grid-column: 3;
  }
  .sass__date {
    -ms-grid-row: 19;
    -ms-grid-column: 3;
  }
  .designs__image {
    -ms-grid-row: 21;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .designs__course {
    -ms-grid-row: 21;
    -ms-grid-column: 3;
  }
  .designs__date {
    -ms-grid-row: 23;
    -ms-grid-column: 3;
  }
  .skills__list-course a {
    -ms-grid-row: 25;
    -ms-grid-column: 3;
  }
}

@media only screen and (max-width: 360px) {
  .programm__image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .programm__course {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .programm__date {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .uxui__image {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .uxui__course {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .uxui__date {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .js__image {
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .js__course {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .js__date {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
  .adobe__course {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
  }
  .adobe__date {
    -ms-grid-row: 15;
    -ms-grid-column: 3;
  }
  .adobe__image {
    -ms-grid-row: 13;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .sass__image {
    -ms-grid-row: 17;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .sass__course {
    -ms-grid-row: 17;
    -ms-grid-column: 3;
  }
  .sass__date {
    -ms-grid-row: 19;
    -ms-grid-column: 3;
  }
  .designs__image {
    -ms-grid-row: 21;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .designs__course {
    -ms-grid-row: 21;
    -ms-grid-column: 3;
  }
  .designs__date {
    -ms-grid-row: 23;
    -ms-grid-column: 3;
  }
  .skills__list-course a {
    -ms-grid-row: 25;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
.skills__list-course a:hover {
  color: #990202;
  transition-duration: 0.5s;
}

.modal {
  display: none;
}
.modal:target {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #e3eaff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.modal__message {
  background: rgba(2, 5, 31, 0.8);
  border: 1px solid #e3eaff;
  color: #e3eaff;
  height: 70%;
  width: 660px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.modal__message .modal__background, .modal__message .modal__background-BM7, .modal__message .modal__description {
  height: 50%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.modal__message .modal__background, .modal__message .modal__background-BM7, .modal__message .modal__description p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}
.modal__message .modal__background, .modal__message .modal__background-BM7 {
  background-image: url("../../dev/images/bicorgraph.jpg");
  background-size: 100%;
  filter: brightness(80%);
  background-position: initial;
}
.modal__message .modal__background-BM7 {
  background-image: url("../../dev/images/Desktop-bm7.png");
}
.modal__message .modal__options {
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
}
.modal__message .modal__description {
  padding: 1.25em;
  width: 660px;
}
.modal__message .modal__description p {
  margin: 0.25em;
}
.modal__message .modal__buttons {
  text-decoration: none;
  color: #e3eaff;
  border: 1px solid #e3eaff;
  border-radius: 25px;
  width: 125px;
  padding: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #5c102a;
}
.modal__message .modal__buttons:hover {
  background-color: #e6e9eb;
  color: #5c102a;
  transition-duration: 0.5s;
  border: 1px solid #5c102a;
}
.modal__message .modal__skills {
  display: flex;
}
.modal__message .buttons__skills {
  background-color: #5c102a;
  color: #e3eaff;
  border: 1px solid #e3eaff;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 19px;
  font-size: 0.75em;
  width: 100px;
  filter: brightness(100%);
}

.modal__functions {
  display: flex;
  flex-direction: column;
  align-items: center;
}