@import '../mixins/_mixins';
footer{
    background-color: #02051f; 
    color: #e3eaff;
    height: 300px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__grid{
display: grid;
width: 80%;
flex-direction: column;
height: 300px;
grid-template-columns: [column__initial] 1fr [line__column-1] 1fr [line__column-2] 1fr [line__column-3];
grid-template-rows: [row__initial] 1fr [line__row-1] 1fr [line__row-2] 1fr [line__Row-3];
justify-items: center;
align-items: center;
    @include tablet{
        width: 90%;
    }
}


footer p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25em;
    letter-spacing: .2px;
    margin: 0px;
    
}

.footer__grid  div figure{
    margin: 1em;
}

.footer__data{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
}

.contact-title{
    grid-column: line__column-1/ line__column-2;
    grid-row: row__initial/ line__row-1;
}

.contact-title h1{
    margin: 0;
}

.footer__data-email{
    @extend .footer__data;
   grid-column: column__initial/ line__column-1;
    grid-row: line__row-1/ line__row-2;
}

.footer__data-cellphone{
    @extend .footer__data;
    grid-column: line__column-1/ line__column-2;
    grid-row: line__row-1/ line__row-2;
}

.footer__data-location{
    @extend .footer__data;
    grid-column: line__column-2/ line__column-3;
    grid-row: line__row-1/ line__row-2;
}

.footer__credits-socialMedia{
    grid-column: line__column-1/line__column-2;
    grid-row: line__row-2/line__row-3;
    display: inline-flex;
    justify-content: space-evenly;
    width:60%;
    @include tablet{
        width: 100%;
    }
}

.footer__credits-socialMedia img{
    border-radius: 50%;
}

.footer__credits{
    grid-column: line__column-2/line__column-3;
    grid-row: line__row-2/line__row-3;
    font-size: 0.75em;
    align-self: center;
    justify-self: center;
    padding: 1em;
    @include tablet{
        justify-self: end;
        align-self: end;
    }
}

