footer{
background-color: #02051f; 
color: #e3eaff;
display: flex;
flex-direction: column;
height: 320px;
align-items: center;
}

footer p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25em;
    letter-spacing: .2px;
    margin: 0px;
    
}

.footer__data{
    display: flex;
    align-items: center;
    width: 20%;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
}

/* footer div
{
height: auto;
display: flex;
flex-direction: row;
justify-content: space-evenly; 
align-items: center;
text-align: center;
}

footer div:first-child 
{
display: block;
}

footer div button
{
margin:0px;        
}

footer div input
{
width: 210px;
}

footer div:nth-child(2)
{
display: block;
text-align: center; 
}
 */