@import '../lib/variables.scss';
@import '../mixins/__mixins.scss';

.header
{
background-color: $dark-blue; 
color: $white-title;
display: flex;
flex-direction: row;
justify-content: space-between;
 text-align: center;
align-items: center;
height: 100px;
width: 100vw;
position: sticky;
top: 0;
z-index: 1;
@include tablet{
    flex-direction: column;
    height: auto;
}
}

.header a{
    text-decoration: none;
}

.cabecera-1
{
margin: 0em 5em;
display: flex;
flex-direction: column;
align-items: center;    
}

.header__logo{
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    height: 100px;
}

.header__logo-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    
}

.header__logo-figure{
    padding: 1em;
    height: inherit;
    margin: 0px;
}


.header__navigator
{
display: flex;
width: auto;
margin: 0px 40px;
height: inherit;
    @include tablet{
        display: none;
    }

}

.header__navigator nav
{
justify-content: space-evenly; 
height: inherit;
}

.header__navigator nav ul
{
display: flex;
flex-direction: row;
justify-content: space-between;  
align-items: center;
margin: 0px;
padding: 0px;
height: inherit;
}

.header__navigator ul li
{
list-style: none;
padding: 0px 10px 0px 10px; 
height: 100%;   
}

.header__navigator ul li a
{
display: inline-flex;
text-decoration: none;
color: #e3eaff;       
align-items: center;
height: inherit;
justify-content: center;
/* border: 1px solid red; */
width: 111px;
}
.header__navigator ul li a:hover
{
color: #990202;
transition-duration: 0.5s;
}

