@import '../lib/variables.scss';
@import '../mixins/__mixins.scss';

.header
{
background-color: $dark-blue; 
color: $white-title;
display: flex;
flex-direction: row;
justify-content: space-between;
 text-align: center;
align-items: center;
height: 100px;
width: 100vw;
position: sticky;
top: 0;
z-index: 1;
    @include tablet{
    display: grid;
    grid-template-columns: 60px 1fr;
    width: 100%;   
    height: 80px;  
    }
}



.header__burguer_menu{
    display: none;
    @include tablet{
        display: block;
        margin: 1em;
    }
}

#header__nav-menu{
    display: none;
    @include tablet{
        display: block;
        position: fixed;
        margin: 0px;
        padding: 0px;
        width: 100vw;   
        background-color: $dark-blue; 
        color: $white-title;
        justify-content: right;
        left: -100%;
        transition: all 500ms linear;
        text-indent: 2.5em;
    }
}

#header__nav-menu ul{
    display: grid;
    grid-template-rows: repeat(4,30px);
    justify-items: center;
    align-items: center;
}
#header__nav-menu.active{
    @include tablet{
        left: 0;
    }
}

#header__nav-menu.null{
    @include tablet{
        left: -100%;
    }
}

#header__nav-menu ul{
    margin: 0;
    padding-left: 0;
}

#header__nav-menu ul a{
    text-decoration: none;
    color: #e3eaff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover{
        color: #990202;
        transition-duration: 0.5s;
    }             
}
#header a{
    text-decoration: none;
}

.cabecera-1
{
margin: 0em 5em;
display: flex;
flex-direction: column;
align-items: center;    
}

.logo{
text-decoration: none;
}

.header__logo{
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    height: 80px;
    text-decoration: none;
}

.header__logo-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    @include tablet{
        padding: 0em;
    }
    
}

.header__logo-figure{
    padding: 1em;
    height: 100%;
    margin: 0px;
    @include tablet{
        padding: 0px;
        height: 100%;
        align-items: center;
        display: flex;
    }
}

.header__logo-figure img{
    @include tablet{
        height: 40px;
        width: 40px;
    }
}


.header__navigator
{
display: flex;
width: auto;
margin: 0px 40px;
height: inherit;
    @include tablet{
        display: none;
    }

}

.header__navigator nav
{
justify-content: space-evenly; 
height: inherit;
}

.header__navigator nav ul
{
display: flex;
flex-direction: row;
justify-content: space-between;  
align-items: center;
margin: 0px;
padding: 0px;
height: inherit;
}

.header__navigator ul li
{
list-style: none;
padding: 0px 10px 0px 10px; 
height: 100%;   
}

.header__navigator ul li a
{
display: inline-flex;
text-decoration: none;
color: #e3eaff;       
align-items: center;
height: inherit;
justify-content: center;
/* border: 1px solid red; */
width: 111px;
}
.header__navigator ul li a:hover
{
color: #990202;
transition-duration: 0.5s;
}

