@import '../lib/variables.scss';
@import '../lib/buttons.scss';
@import '../mixins/__modal.scss';
@import '../mixins/__mixins.scss';

.projects{
    display: flex;
    justify-content: center;
    @include cellphone{
        width: 100vw;
    }
}

.projects__layout{
    display: grid;
    grid-template: 1fr/1fr 1fr;
    justify-items: center;
    width: 100vw;
    grid-template-areas: "project-1 project-2";
    @include tablet{
        grid-template:1fr 1fr /1fr;
    }
    @include cellphone{
        width: 100%;
        grid-gap: 1em;
        height: auto;
    }
} 

.project{
    width: 500px;
    height: 540px;
    max-width: 100%;
    margin: 1em;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px $darkGrey-shadows;
    background-image: url('../../dev/images/bicorgraph.jpg');
    background-size: 500px;
    cursor: pointer;
    &:hover .project__view-overlay{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        color: $white-title;
        animation: brillo 1.5s 1;
    }
    @keyframes brillo{
        from{
            filter: brightness(30%);
        }
        to{
            filter: brightness(100%);
        }
    }
    .project__view-layout{
        margin: 0;
        padding: 0;
        height: 540px;
        width: 500px;
        @include cellphone{
            width: 90vw;
        }
    }
    
    .project__view figure img{
        vertical-align: top;
    }
    
    .project__view-overlay{
        background-color: rgba(0,0,0,.5);
        width: 100%;
        height: 100%;
        display: none;
    }
    @include cellphone{
        width: 90%;
        height: auto;
        margin: 0px;
        height: 420px;
    }
}

.project__bm7{
    @extend .project;
    background-image: url('../../dev/images/Desktop-bm7.png');
}

