@import '../lib/variables.scss';
@import '../components/__header.scss';

.skills-section{
    background-color: $background-blue;
    color: $white-title;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding: 1em 0px;
    width: 100vw;
}
.skills__list-course{
    width: 75vw;
    display: grid;
    padding: 1em;
    padding: .5em;
    grid-gap: .5em;
    justify-items: left;
    grid-template: repeat(6,44px) 20px/74px 1fr 74px 1fr;
    grid-template-areas: "programm__image programm__course uxui__image uxui__course"
                         "programm__image programm__date uxui__image uxui__date"
                         "js__image js__course adobe__image adobe__course"
                         "js__image js__date adobe__image adobe__date"
                         "sass__image sass__course designs__image designs__course"
                         "sass__image sass__date  designs__image designs__date"
                         ". perfil . .";
    @include tablet{
        width: 70vw;
        grid-template: repeat(6,44px) 20px/74px 1fr;
        grid-template-areas: "programm__image programm__course"
                             "programm__image programm__date"
                             "uxui__image uxui__course"
                             "uxui__image uxui__date"
                             "js__image js__course"
                             "js__image js__date"
                             "adobe__image adobe__course"
                             "adobe__image adobe__date"
                             "sass__image sass__course"
                             "sass__image sass__date"
                             "designs__image designs__course"
                             "designs__image designs__date"
                             ". perfil";
    }
    @include cellphone{
        width: 90vw;
        justify-items: center;
        grid-template: repeat(6,44px) 20px/74px 1fr;
        grid-template-areas: "programm__image programm__course"
                             "programm__image programm__date"
                             "uxui__image uxui__course"
                             "uxui__image uxui__date"
                             "js__image js__course"
                             "js__image js__date"
                             "adobe__image adobe__course"
                             "adobe__image adobe__date"
                             "sass__image sass__course"
                             "sass__image sass__date"
                             "designs__image designs__course"
                             "designs__image designs__date"
                             "perfil perfil";
    }
}

.programm__image{
    grid-area: programm__image;
    margin: 0;
}

.programm__course{
    grid-area: programm__course;
}

.programm__date{
    grid-area: programm__date;
}

.uxui__image{
    grid-area: uxui__image;
    margin: 0;
}

.uxui__course{
    grid-area: uxui__course;
}

.uxui__date{
    grid-area: uxui__date;
}

.js__image{
    grid-area: js__image;
    margin: 0;
}
.js__course{
    grid-area: js__course;
}

.js__date{
    grid-area: js__date;
}

.adobe__course{
    grid-area: adobe__course;
}

.adobe__date{
    grid-area: adobe__date;
}

.adobe__image{
    grid-area: adobe__image;
    margin: 0;  
}

.sass__image{
    grid-area: sass__image;
    margin: 0;
}

.sass__course{
    grid-area: sass__course;
}

.sass__date{
    grid-area: sass__date;
}

.designs__image{
    grid-area: designs__image;
    margin: 0;
}

.designs__course{
    grid-area: designs__course;
}

.designs__date{
    grid-area: designs__date;
}

.skills__perfil{
    @include cellphone{
        grid-area: skills__perfil;
        width: 100vw;
    }
}

.skills__list-course a{
    color: #e3eaff;
    text-decoration: none;  
    grid-area: perfil; 
    text-indent: 1em;
    &:hover{
        color: #990202;
        transition-duration: 0.5s;
    }
}
